.container{
display: flex;
flex-direction: row;
flex-wrap: wrap;
gap: 15px;
justify-content: space-evenly;

}

.subcontainer{
  margin-top: 15px;
  width: 200px;
  height: 300px;
  border: 1px solid gray;
  overflow: hidden;
}
.pagination{
  width: fit-content;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}
button{
  margin-left: 3px;
  cursor: pointer;
}
